.container {
    width: 325px;
    height: 95%;    
}

.borderCelular {
    height: 100%;
    background: var(--border-celular);
    border-radius: 18px;
    padding: 15px;
}

.displayCelular {
    height: 100%;
    background: var(--white);
    background-size: cover;
    border-radius: 15px;

    display: flex;
    flex: 1 2 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}