.container {
    width: 325px;
    height: 95%;    
}

.borderCelular {
    height: 100%;
    background: var(--border-celular);
    border-radius: 18px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.button {
    display: block;
    width: 37px;
    height: 40px;
    border-radius: 25px;

    background: var(--white);
}

.displayCelular {
    height: 100%;
    background: var(--white);
    background-size: cover;
    border-radius: 15px;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    /* display: flex;
    flex: 1 2 1;
    flex-direction: column; 
    align-items: center;
    justify-content: center;*/
}

@media screen and (max-width: 430px) {
    .container {
        width: 100%;
        height: 100%;   
    }
    .borderCelular {   
        display: block;    
        padding: 0px;
        border-radius: 0px;
    }
    .button {
        display: none;
    }
    .displayCelular {    
        border-radius: 0px;    
    }
}

