.header {
  width: 100%;  
  background: #cc8787;
  background-image: url('/header-bg.png');
  background-size: cover;
  min-height: 280px;
  border-radius: 15px 15px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 100%;
  background: var(--laranja);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: var(--white);
}

.main p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 35px;
  line-height: 2rem;
}

.main a {
  background: var(--white);
  color: var(--grayDark);
  border-radius: 3px;

  padding: 3px 10px;
  margin: 2px 6px;
  transition: 0.5s;
}
.main a:hover {
  background: none;
  color: var(--white);  
}

.divisor {
  display: flex;
  width: 100%;
  min-height: 11px;  
}

.divisor img {
  width: 100%;
}

.interativeArea{
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}

.interativeArea .content {
  width: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.interativeArea .content a {
  font-size: 1.5rem;
  background: var(--white);
  color: var(--grayDark);
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.interativeArea .content a:hover {
  background: rgba(0,0,0,0.5);
  color: var(--background);
}

.footer {
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 120px;
}